.app {
  padding: var(--gutter-xl);
}

@media only screen and (max-width: 768px) {
  .app {
    padding: var(--gutter-xxl) var(--gutter-m);
  }
}

.header {
  padding: var(--gutter-xl) 0;
  background-color: var(--color-primary);
  text-align: center;
}

.logo {
  color: var(--color-secondary);
  font-size: var(--font-size-xl);
  font-weight: 900;
}

.quote {
  margin: 0 0 var(--gutter-s) 0;
  color: var(--color-tertiary);
}

.author {
  display: block;
  text-align: right;
}
